
body {
  margin: 0;
}

#root {
  position: relative;
  top: 0px;
  left: 0px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.menu {
  list-style: none;
  color: white;
  position: absolute;
  top: 40px;
  right: 40px;
  input {
    width: 70px;
  }
  text-align: right;
}

.controls {
  color: white;
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
  svg {
    &:before {
      margin: 20px;
    }
  }

  svg:not(:first-child) {
    margin-left: 20px;
  }

  svg:hover {
    cursor: pointer;
  }

}
