
body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
}

.menu {
  list-style: none;
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  input {
    width: 70px;
  }
  text-align: right;
}

a {
  color: inherit !important;
}
